.home{
    background-color: #dadada;    
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    padding-top: 15%;
}
.notes-list{
    position: relative;
    margin-left: 4%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.dark-mode .home {
    background-color: #292828;
}

